////////////////////////////////////////////////////////////////////////////////
// PLACEHOLDERS
// -----------------------------------------------------------------------------

/////////////////////
// Base styles for any button type. @See component-button-{$option} mixins for further styles.
// ---------
%button {
  @include fluid-type(rem-calc(13), rem-calc(15));
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: $body-font-family;
  font-weight: 700;
  white-space: normal;
  text-transform: capitalize;
  text-shadow: none;
  padding: ($global-padding * 0.75) ($global-padding * 1.5);
  border-radius: $global-radius;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  transition: all $global-speed ease;

  &,
  &:visited,
  &:active,
  &:focus {
    background: color(theme-primary);
    color: color(theme-white);
  }

  &:hover {
    background: color(theme-secondary);
  }
}
